//
//@import "_swiper-bundle.scss";
//@import "_normalize.scss";
*{
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
html{
  font-size: 10px;
  line-height: 122%;
}
main{
  position: relative;
}